.newBody {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 70%;
}

.navbar-brand {
    font-size: 130%;
}

.newH2 {
    font-size: 150%;
}

.imgFolio {
    padding-right: 30px;
}



